.wordle-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wordle-box {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
}

.disabled {
    background-color: white;
    border: 1px solid;
}